<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Projet Rails</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= root_path %>">Home</a>
      </li>
      <% if !user_signed_in? %>
      <li>
        <%= link_to 'Se connecter', new_user_session_path, class: 'nav-link' %>
      </li>
      <% else %>
        <li>
          <%= link_to 'Se déconnecter', destroy_user_session_path, class: 'nav-link', method: :delete %>
        </li>
        <li>
          <a href="<%= mysearch_path %>" class="nav-link">Mes recherches</a>
        </li>
      <% end %>
    </ul>

  <%= form_with(url: '/search/',local: true, method: 'get') do %>
    <%= label_tag(:name, 'search for:') %>
    <%= text_field_tag(:name) %>
    <%= submit_tag("Search") %>
  <% end %>
  </div>
</nav>